#container {
  overflow:hidden;
  position:absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background:-o-linear-gradient(top, #000, #03314A);
  background:-ms-linear-gradient(top, #000, #03314A);
  background:-moz-linear-gradient(top, #000, #03314A);
  background:-webkit-linear-gradient(top, #000, #03314A);
  background:linear-gradient(top, #000, #257eb7);    
      filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#03314A');
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#03314A')";
}


#pixie {
  z-index:10;
  position: fixed;
  top: 0;
  left: 0;
}

.HCJ { 
   position: absolute; 
   top: 300px; 
   left: 400px;
   color: red;
   height: 250px;
   width: 700px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #000;
}

.text-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1{
  margin: 0;
  font-size: 150px;
  color: rgba(225,225,225, .01);
  background-image: url("https://u.cubeupload.com/BrunoT/bntt1.png?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}


/* Css for <div class="FireFlys"> remove everything below if you remove that div from index.html as this becomes
   uneeded
*/